<!DOCTYPE html>
<html>

<head>
    <title>
        {%if title %}
        {{title}} - Schedule Me
        {% else %}
        Shcedule Me
        {% endif %}
    </title>
</head>

<body>
    {% block navigation %}
    <nav>
        <div>
            <a href="{{ url_for('index') }}">
                <img src="../static/img/home-button.png" alt="Logo" width="32" height="32">
            </a>
            <a href="{{ url_for('myschedule') }}">My Schedule</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </nav>
    {% endblock %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

</body>

</html>